/* Comenzamos a dar desarrollar detalleDelProductos */


/* Defino el color de fondo */

.fondo {
    background-color: #000;
}


/* Definimos de tipografia y color blanca*/

.titulos {
    font-family: "Anton", sans-serif;
    font-family: "Bebas Neue", cursive;
    font-family: "Cabin", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lora", serif;
    font-family: "Playfair Display", serif;
    font-family: "Playfair Display SC", serif;
    font-family: "Quicksand", sans-serif;
    color: #fff;
}


/* Definimos la letra y el color de la misma la cual será la secundaria*/

.titulosblack {
    font-family: "Anton", sans-serif;
    font-family: "Bebas Neue", cursive;
    font-family: "Cabin", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lora", serif;
    font-family: "Playfair Display", serif;
    font-family: "Playfair Display SC", serif;
    font-family: "Quicksand", sans-serif;
    color: gray;
}


/* Redefinimos los shadow sin padding ni margin */

.productoShadow {
    box-shadow: 2px 1px 15px -1px #000;
    border-radius: 5px;
}


/* Efecto hover para pasar por arriba de las imagenes del carrusel */

.imagenEfecto img {
    transition: all 300ms;
}

.imagenEfecto img:hover {
    transform: scale(1.15);
}


/* Defino el boton de compra y de agregar al carrito */

.detalleBotonPago {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}


/*Defino el tamaño del logo del footer*/

.tamanioLogoFooter {
    width: 35%;
}

.h4-font-general {
    font-family: "Anton", sans-serif;
    font-family: "Bebas Neue", cursive;
    font-family: "Cabin", sans-serif;
    font-family: "Inter", sans-serif;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lora", serif;
    font-family: "Playfair Display", serif;
    font-family: "Playfair Display SC", serif;
    font-family: "Quicksand", sans-serif;
}